.previous-searches{
    display: block;
    h2{
        color: var(--text-color);
        margin-bottom: .5em;
    }
    .previous-searches-container{
        border: 1px solid rgb(227, 227, 227);
        display: flex;
        border-radius: 5px;
        padding: 20px;
        gap: 3px;
        .search-item{
            background-color: var(--primary-color);  
            display: inline-block;
            padding: .5em 1em;
            margin: 0 .1em .1em 0;
            color: #fff;
            border-radius: 30px;
            box-shadow: 0 3px 6px var(--shadow-color); 
            transform: translateX(100%);
            opacity: 0;
            animation: getAnimationOuration(.5s) slideInRight forwards;
        }
        .search-item:hover{
            background-color: opacity($color: #000000);
        }
    }
    .search-box{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 35px;
        width: 100%;
        flex: 0.6;
    
        input, .btn{
            height: 35px;
        }
    
        input{
            width: 100%;
            height: 40px;
            min-width: 250px;
            padding: 0 0.5em;
            border-radius: 5px 0 0 5px;
            outline: none;
            border: 1px solid #cb0606;
        }
        .btn{
            padding-block: 0;
            padding-inline: .75em;
            border-radius: 0 5px 5px 0;
        }
    }
}