:root{
    --background-color: #fff;
    --background-light: #fff;
    --primary-color: rgb(255, 0, 86);
    --shadow-color: rgba(0,0,0,0.2);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;

 }

 @function getAnimationOuration($duration: number){
    @return calc($duration * var(--animation-speed));
 }
*{
    margin: 0;
    //padding: 0;
    box-sizing: border-box;
    
}
body{
    font-size: var(--font-size);
    font-family: 'Roboto','sans-serif';
    background-color: var(--background-light);
}
a{
    text-decoration: none;
}
img{
    object-fit: cover;
}

.btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: .75em 1em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 2px 6px var(--shadow-color);
    &:hover{
        box-shadow: 0 1px 3px var(--shadow-color);
    }

}

.use-image{
    background-color: red;
    height: 0;
    width: 100%;
    position: relative;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


}

@import "partials/navbar";
.section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3vw;
    &.d-block{
        display: block;
    }
    .title{
        color: var(--text-color);
        font-size: 2.5em;
        font-weight: 900;
        margin-bottom: .25em;
    }
    .info{
        color: var(--text-light);
        font-size: 1em;
        letter-spacing: 1px;
        line-height: 1.3;
        margin-bottom: .5em;
        margin-bottom: 1.25em;
    }
    .col{
        width: 50%;
    }
}
@import "partials/_hero-Section";

@import "partials/improve-Section.scss";

@import "partials/qouteSection";

@import "partials/chief-Section";

@import "partials/footer";

@import "partials/previous-searches";

@import "partials/recipe-section";

@import "partials/settings-Section";

@import "partials/login-section";

.register-section{
    width: 24rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0  10px 10px -5px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
    background-color: var(--primary-color);
    margin-bottom: 1.5rem;
    margin: auto;
    .register-form{
        ::placeholder{
            color: #fff;
        }
    }
    .register{
        color: #fff;
        font-size: 1.5rem;
    }
    .input-section{
        border-bottom: 1px;
        border-color: 1 solid #575757;
        width: 13rem;
        background-color: transparent;
        margin-bottom: 20px;
    }
    .register-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: auto;
    margin-bottom: 1.25rem;
        
    }
    .sign-btn{
        color: var(--text-color);
        margin-bottom: 10px;
        

    }
    .log-link{
        align-items: center;
        font-size: 0.75rem;
        color: var(--text-light);
    }
}

.main{
    padding-block: 3vw;
}

.container{
    padding-inline: 25vw;
}
@import "partials/animations";

@media screen and (max-width: 1280px){
    .container{
        padding-inline: 18vw;

    }
}
@media screen and (max-width: 1050px){
    .container{
        padding-inline: 12vw;

    }
}

@media screen and (max-width: 780px){
    .navbar{
        .nav-links{
            display: none;
        }
    .sidebar-btn{
        display: block;
    }
    }
    .section{
        .col{
            width: 100%;
            padding: 0 !important;
            text-align: center;
            margin-bottom: 2em;
        }
    }
    .skill-item{
        display: inline-block;
        margin: .75em;
        
    }
    .section.improve-skills .btn{
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .chief-card{
        box-shadow: 0 5px 10px var(--shadow-color);
    }
    .container{
        padding-inline: 6vw;

    }
    .footer{
        grid-template-columns: repeat(4, 1fr);
        .footer-section:nth-child(1){
            grid-column: span 4;
        }
        .footer-section:nth-child(2), .footer-section:nth-child(3){
            grid-column: span 2;

        }

    }
    
}
@media screen and (max-width: 480px){
    .container{
        padding-inline: 3vw;

    }
}

/* OtpInput.css */
.otp-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.otp-card h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.otp-input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 0 5px;
  outline: none;
  transition: border-color 0.3s ease;
  color: #ff0056;
}

.otp-input:focus {
  border-color: #ff0056;
}

.verify-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #ff0056;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.verify-button:hover {
  background-color: #fc508a;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
    
    button{
        border: 1px solid #ff0056;
        outline: none;
        background-color: #fff;
        color: #0A0A0A;
        padding: 5px 8px;
        border-radius: 5px;
    }
}

.selectFilter{
    width: 80%;
    padding: 7px;
    height: 35px;
    border-radius: 7px;
}